:root {
  --primary: #655dff;
  --primary-dark: #4f46f8;
  --secondary: #17c9ff;
  --greyLight-1: #e0ecf7;
  --greyLight-2: #a4bfde;
  --greyDark-1: #92acc4;
  --greyDark-2: #5a768f;
  --greyDark-3: #143f68;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment {
  width: 40%; 
  height: 400px;
  border-radius: 12.8px; 
  background: rgba(255, 255, 255, 0.457);
  display: grid;
  grid-template-columns: 500px; 
  padding: 4rem 6rem;
  grid-gap: 4rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.642);
  
}

.card {
  grid-column: 1 / 2;
  width: 500px; 
  height: 320px; 
  border-radius: 12.8px; 
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2rem;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 50%);
  box-shadow: -4.8px 4.8px 12.8px #4f46f83d; 
  border: 1px solid #ffffff;
  z-index: 200;
  position: relative;
  right: 40px;
  bottom: 20px;
}

.card__number {
  font-family: 'Roboto Mono', monospace;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-size: 28.8px; 
  letter-spacing: 1.92px; 
  margin-left: 20px;
  margin-top: 20px;
}

.card__name {
  font-family: 'Roboto Mono', monospace;
  grid-row: 3 / 3;
  margin-left: 20px;
  h3 {
    font-size: 12.96px;
    text-transform: uppercase;
    margin-bottom: 7.68px; 
    font-weight: 300;
}
}

.card__expiry {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  h3 {
      font-size: 12.96px;
      text-transform: uppercase;
      margin-bottom: 7.68px; 
      font-weight: 300;
  }
  p {
      font-size: 22.4px; 
  }
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px; 
  color: var(--greyDark-2);
  margin-right: 60px; 
}


.form__btn {
  width: 50%; 
  height: 60.8px;
  border-radius: 9.6px;
  border: none;
  background: var(--primary);
  color: #ffffff;
  font-family: inherit;
  font-size: 22.4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form__btn:hover {
  background: var(--primary-dark);
}

label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  pointer-events: none;
  font-size: 22.4px;
  font-weight: 700; 
  padding: 0 0 9.6px 0; 
  line-height: 1;
  color: var(--greyDark-3);
}

.input_big {
  padding: 20px 18px; 
  border: none;
  background: transparent;
  border-radius: 9.6px;
  border: 1px solid var(--greyLight-2);
  color: var(--greyLight-2);
  font-family: inherit;
  font-size: 22.4px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.642);

  &::placeholder {
    color: var(--greyLight-2);
    font-size: inherit;
    letter-spacing: 1.92px;
    opacity: 0.7;  
  }

  &.filled,
  &:focus {
    outline: none;
    border: 2px solid #3498db;
    color: var(--greyDark-2); 
  }
}

.input_small,
.input_cvv {
  padding: 8px 12px; 
  border: none;
  background: transparent;
  border-radius: 9.6px;
  border: 1px solid var(--greyLight-2);
  color: var(--greyLight-2);
  font-family: inherit;
  font-size: 16px; 
  width: 20%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.642);

  &::placeholder {
    color: var(--greyLight-2);
    font-size: inherit;
    letter-spacing: 1.92px;
    opacity: 0.7;
  }

  &.filled,
  &:focus {
    outline: none;
    border: 2px solid #3498db;
    color: var(--greyDark-6);
  }
}

.form__detail {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
}



.toggle-cvv {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--primary);
  font-size: 18px;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  vertical-align: middle;
  position: absolute;
  left: 90px; 
  top: 50%; 
  transform: translateY(-50%); 
}


.toggle-cvv:hover {
  text-decoration: underline;
}

.cvv-container {
  position: relative;
  width: 100%;
  display: flex; 
  align-items: center; 
}


.cvv-container input[type="password"] + .toggle-cvv {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}



.form__detail input:focus {
  border: 2px solid #3498db;
}


.card__background {
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.card__visa img {
  width: 80px;
}

.card__nfc {
  position: absolute;
  padding: 30px;
  left: 20px;
  
}

.card__nfc img {
  width: 60px;
}





@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.loading::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
  animation: spin 0.7s linear infinite;
}


.confetti-button {
  margin-top: 10px; 
}

